<div class="row">
  <div class="small-8 columns">
    <table>
      <tbody>
      <tr>
        <td>Nom</td>
        <td><%= @film.name %></td>
      </tr>
      <tr>
        <td>Commentaires</td>
        <td><%= @film.comment %></td>
      </tr>
      <% if @film.torrent %>
          <tr>
            <td>Torrent</td>
            <td><%= @film.torrent.name %></td>
          </tr>
      <% end %>
      <tr>
        <td>Taille</td>
        <td><%= number_to_human_size @film.size %></td>
      </tr>
      <tr>
        <td>Path</td>
        <td><%= @film.path %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
