<h1>Listing deleted films</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Path</th>
      <th>Comment</th>
      <th>Torrent</th>
      <th>Deleted_at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.name %></td>
        <td><%= number_to_human_size film.size %></td>
        <td><%= film.path %></td>
        <td><%= film.comment %></td>
        <td><%= link_to film.torrent.name, torrent_path(film.torrent) if film.torrent %></td>
        <td><%= film.deleted_at.strftime('%d/%m/%Y %H:%M:%S') if film.deleted_at%></td>
        <td><%= link_to 'Show', film %></td>
        <td><%= link_to 'Edit', edit_film_path(film) %></td>
        <td><%= link_to 'Download', download_film_path(film), method: :post, data: { confirm: 'Are you sure?' }, remote: true if film.torrent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
