<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @film.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= number_to_human_size @film.size %>
</p>

<p>
  <strong>Path:</strong>
  <%= @film.path %>
</p>

<p>
  <strong>Torrent:</strong>
  <%= @film.torrent.name if  @film.torrent %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @film.comment %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
