<h1>Listing t_films</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Torrent</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @t_films.each do |t_film| %>
      <tr>
        <td><%= t_film.name %></td>
        <td><%= number_to_human_size t_film.size %></td>
        <td><%= link_to t_film.torrent.name, torrent_path(t_film.torrent) %></td>
        <td><%= link_to 'Show', t_film %></td>
        <td><%= link_to 'Destroy', t_film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
