<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @t_film.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= number_to_human_size @t_film.size %>
</p>

<p>
  <strong>Torrent:</strong>
  <%= @t_film.torrent.name %>
</p>

<%= link_to 'Back', t_films_path %>
