<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @torrent.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @torrent.path %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @torrent.comment %>
</p>

<p>
  <strong>Import at:</strong>
  <%= @torrent.import_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @torrent.deleted_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>

<%= link_to 'Edit', edit_torrent_path(@torrent) %> |
<%= link_to 'Back', torrents_path %>
