<%# add navigation links to this file %>
<li><%= link_to 'Films', films_path %></li>
<li><%= link_to 'Torrents', torrents_path %></li>
<li><%= link_to 'Contenu des torrents', t_films_path %></li>
<li><%= link_to 'Deleted Films', deleted_films_path %></li>
<li><%= link_to 'Sync Films', sync_films_path, method: :post %></li>
<li><%= link_to 'Sync Torrents', sync_torrents_path, method: :post %></li>
<li><%= link_to 'Sync All', sync_all_path, method: :post %></li>
